$main-blue: #0264a3;
$red: #e00101;

.checkbox {
  display: none;
}

.checkbox:checked + .burger > .burger__line {
  border-bottom: 2px solid transparent;
}
.checkbox:checked + .burger > .burger__line::after {
  transform: rotate(-45deg);
  top: 0;
}
.checkbox:checked + .burger > .burger__line::before {
  transform: rotate(45deg);
  top: 0;
}

.header-top {
  background-color: $main-blue;

  .burger {
    height: 45px;
    width: 45px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 4px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media screen and (max-width: 1199px) {
      display: flex;
    }

    &__line {
      border-bottom: 2px solid white;
      width: 30px;
      height: 2px;
      position: relative;
      transition: 0.5s;

      &::after {
        content: "";
        position: absolute;
        top: 7px;
        height: 2px;
        width: 30px;
        border-bottom: 2px solid #dadada;
        transition: 0.5s;
      }

      &::before {
        content: "";
        position: absolute;
        top: -7px;
        height: 2px;
        width: 30px;
        border-bottom: 2px solid #dadada;
        transition: 0.5s;
      }
    }
  }
  .nav {
    height: 50px;

    @media screen and (max-width: 1199px) {
      display: none;
    }

    &__item {
      margin-right: 40px;
      height: 100%;

      @media screen and (max-width: 1199px) {
        display: none;
      }

      &-link {
        color: white;
        height: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-bottom: 3px solid transparent;

        &:hover {
          text-decoration: none;
          border-bottom: 3px solid $red;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.test {
  background-color: green;
}

.header-nav {
  display: flex;
  height: 65px;
  align-items: center;
  margin: 20px 0;

  &__logo {
    margin-right: 20px;
  }
  &__item {
    margin-top: 12px;
    margin-right: 25px;
  }

  &__social {
    display: flex;
    align-items: center;
    margin-top: 10px;

    &-group {
      margin-left: 18px;
      width: 71px;
      display: flex;
      justify-content: space-between;
    }
    &-email {
      margin-left: 12px;
    }

    &__phones {
      width: 170px;
      height: 42px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 10px;
    }

    &__button {
      background-color: $red;
      color: white;
      font-weight: 600;
      width: 224px;
      height: 46px;
      outline: none;
      border: none;
      font-size: 16px;

      &:hover {
        animation-name: ButtonAnimation;
        animation-duration: 4s;
      }
    }
  }
}

@keyframes ButtonAnimation {
  /* from {
     background-color: blue;
   }
   to {
     background-color: yellow;
   } */

  0% {
    transform: rotate(-15deg);
  }
  10% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(0);
  }
  90% {
    transform: rotate(15deg);
  }
  100% {
    transform: scale(1.5);
    perspective: 500px;
  }
}
